<!DOCTYPE html>
  <html>
  <head>
    <title>Dojo Survey</title>
  </head>
  <body>
    <form>
      <center>
        Your Name: <input type="text" name="name" action=""><br>
        Dojo Location: <select name="location">
                         <option value="Seattle">Seattle</option>
                         <option value="Austin">Austin</option>
                         <option value="San Francisco">San Francisco</option>
                         <option value="Mars">Mars</option>
                        </select> <br>
        Favorite Language: <select name="favlang">
                         <option value="javaScript">javaScript</option>
                         <option value="Python">Python</option>
                         <option value="Ruby">Ruby</option>
                         <option value="C#">C#</option>
                        </select> <br>
        Comment:<br>
        <textarea name="comment">
        </textarea>
        <input type="submit" action="" value="OK">
      </center>
    </form>
  </body>
</html>
